:root {
  --mainBlue: #2a2a72;
  --lightBlue: #009fdd;
  --mainWhite: #f3f3f3;
  --mainDark: #232528;
  --mainYellow: #ffa400;
}

body {
  background-color: var(--mainWhite) !important;
  color: var(--mainDark) !important;
}
.text-title {
  font-weight: bold;
  text-transform: uppercase;
}
.text-blue {
  color: var(--mainBlue);
}
.text-bright {
  color: var(--lightBlue);
}
