$lightBackground: #fff;
$backgroundMain: #fafafa;
$darkBackgroundMain: darken($backgroundMain, 3);
$foreColor: #212121;
$lightForeColor: lighten($foreColor, 10);

:root {
  --mainWhite: #fafafa;
  --mainDark: #212121;
}

body {
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  padding-top: 82px;
  background-color: $backgroundMain !important;
  color: $lightForeColor;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $foreColor;
}

h1 {
  font-size: 40px;
  text-transform: uppercase;
  color: $foreColor;
  font-weight: 900;
  line-height: 60px;
}

.text-title {
  font-weight: bold;
  text-transform: uppercase;
}

.text-bright {
  color: $lightForeColor;
}
.btn-black {
  background: transparent;
  text-transform: capitalize;
  font-size: 0.8rem !important;
  color: $foreColor;
  border-radius: 0 !important;
  border: 0.1rem solid $foreColor !important;
}
.btn-black:hover {
  background: $foreColor !important;
  color: $backgroundMain !important;
}
.cart-icon {
  cursor: pointer;
  font-size: 1.2rem;
  color: $foreColor;
}
.navbar {
  background-color: $backgroundMain;
}

.navbar-collapse {
  line-height: 82px;
}

.nav {
  li {
    a {
      font-weight: bold;
      display: block;
      padding: 0px 15px;
      color: $foreColor;
      &:hover {
        background-color: $foreColor;
        color: $backgroundMain;
        text-decoration: none;
        transition: all 0.3s;
      }
    }
  }
}

.btn-default {
  color: $backgroundMain;
  background-color: $foreColor;
  border-color: $foreColor;
  border-radius: 0px;
  padding: 10px 35px;
  font-weight: bold;
  transition: all 0.2s ease-in;
  &:hover {
    color: $foreColor;
    background-color: transparent;
    border-color: $foreColor;
    transition: all 0.2s ease-in;
  }
}

.btn-link {
  color: $foreColor;
  padding: 10px 35px;
}

.cart-btn {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 0.2rem 0.4rem;
  background: $foreColor;
  border: none;
  color: $backgroundMain;
  font-size: 1rem;
  border-radius: 0.5rem 0 0 0;
}

.form-control {
  border-radius: 0px;
  border: 1px solid $foreColor;
  &:focus {
    color: $lightForeColor;
    background-color: #fff;
    border-color: $foreColor;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba($foreColor, 0.25);
  }
}

.text-intro {
  margin: 150px auto 0;
  p {
    font-size: 14px;
    text-align: justify;
    color: $lightForeColor;
    margin-top: 40px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 1px;
  }
}
.typewrite {
  @extend h1;
  line-height: 20px;
}

#intro {
  background-color: $lightBackground;
}

#home-product {
  .cart-btn {
    display: none;
  }
}

.desc {
  p {
    margin-top: 10px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 1px;
  }
}

.card {
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

#home-about,
#newsletter,
#header-product {
  background-color: $darkBackgroundMain;
}

#footer {
  background-color: $foreColor;
  color: $backgroundMain;
  .footer-title {
    padding-bottom: 10px;
  }
  a {
    color: $backgroundMain;
  }
  .fab {
    margin: 0px 10px 0px 0px;
  }
}
#copyright {
  text-align: center;
  background-color: $foreColor;
  color: $backgroundMain;
  height: 50px;
  line-height: 50px;
}

.desc {
  h1 {
    font-size: 40px;
    text-transform: capitalize !important;
    color: $foreColor;
    font-weight: 900;
    line-height: 60px;
    margin-top: 0px;
  }
  p {
    color: $lightForeColor;
    margin-top: 10px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 1px;
  }
}
