$backgroundMain: #fafafa;
$foreColor: #212121;
$lightForeColor: lighten($foreColor, 3);

:root {
  --mainBlue: #2a2a72;
  --lightBlue: #009fdd;
  --mainWhite: #fafafa;
  --mainDark: #212121;
  --mainYellow: #ffa400;
}

body {
  font-family: "Raleway", sans-serif;
  padding-top: 82px;
  background-color: $backgroundMain !important;
  color: var(--mainDark) !important;
}
.text-title {
  font-weight: bold;
  text-transform: uppercase;
}

.text-bright {
  color: var(--lightBlue);
}
.btn-black {
  background: transparent;
  text-transform: capitalize;
  font-size: 0.8rem !important;
  color: var(--mainDark);
  border-radius: 0 !important;
  border: 0.1rem solid var(--mainDark) !important;
}
.btn-black:hover {
  background: var(--mainDark) !important;
  color: var(--mainWhite) !important;
}
.cart-icon {
  cursor: pointer;
  font-size: 1.2rem;
  color: $foreColor;
}

.navbar-collapse {
  line-height: 82px;
}

.nav {
  li {
    a {
      font-weight: bold;
      display: block;
      padding: 0px 15px;
      color: $foreColor;
      &:hover {
        background-color: $foreColor;
        color: $backgroundMain;
        text-decoration: none;
        transition: all 0.3s;
      }
    }
  }
}

.btn-default {
  color: $backgroundMain;
  background-color: $foreColor;
  border-color: $foreColor;
  border-radius: 0px;
  padding: 10px 35px;
  font-weight: bold;
  transition: all 0.2s ease-in;
  &:hover {
    color: $foreColor;
    background-color: transparent;
    border-color: $foreColor;
    transition: all 0.2s ease-in;
  }
}

.btn-link {
  color: $foreColor;
  padding: 10px 35px;
}

.cart-btn {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 0.2rem 0.4rem;
  background: $foreColor;
  border: none;
  color: $backgroundMain;
  font-size: 1rem;
  border-radius: 0.5rem 0 0 0;
}

.text-intro {
  margin: 150px auto 0;
  h1 {
    font-size: 40px;
    text-transform: uppercase;
    color: $foreColor;
    font-weight: 900;
    line-height: 60px;
  }
  p {
    font-size: 14px;
    text-align: justify;
    color: $lightForeColor;
    margin-top: 40px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 1px;
  }
}
.typewrite {
  @extend h1;
  line-height: 20px;
}

.Tilt {
  background-color: #9e21ff;
  background-image: -webkit-linear-gradient(
    315deg,
    #ed21ff 0%,
    #9e21ff 100%,
    #9e21ff 100%
  );
  background-image: linear-gradient(
    135deg,
    #ed21ff 0%,
    #9e21ff 100%,
    #9e21ff 100%
  );
}
